@tailwind base;
@tailwind components;
@tailwind utilities;

/* Masquer la scrollbar sur mobile */
@media (max-width: 768px) {
  * {
    -ms-overflow-style: none; /* IE et Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari et Opera */
  }
}

/* Classe utilitaire pour masquer la scrollbar */
.no-scrollbar {
  -ms-overflow-style: none; /* IE et Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Opera */
}

